{#set title#}
{{ set(this, 'title', subject.name ~ " Tasks") }}
<a href="/teacher/tasks/{{ subject.id }}/create" class="btn btn-info">Create a new task</a>
<br><br>
<div class="row">
    {% for task in tasks %}
        <div class="col">
            <div class="card">
                <div class="card-header">
                    {{ task.title }}
                    {% if task.active == 1 %}
                        <span class="badge badge-success">Active</span>
                    {% else %}
                        <span class="badge badge-danger">Inactive</span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p>
                        {{ task.description|raw }}
                    </p>
                    <p>Attempts: {{ tasks_count[task.id].taken }}/{{ tasks_count[task.id].total }}</p>
                </div>
                <div class="card-footer">
                    <a href="/teacher/tasks/{{ subject.id }}/update/{{ task.id }}" class="btn btn-primary">Update</a>
                {% if task.active == 1 %}
                        <a href="/teacher/tasks/{{ subject.id }}/deactivate/{{ task.id }}" class="btn btn-danger">Deactivate</a>
                {% else %}
                        <a href="/teacher/tasks/{{ subject.id }}/activate/{{ task.id }}" class="btn btn-success">Activate</a>
                {% endif %}
                    <a href="/teacher/tasks/{{ subject.id }}/results/{{ task.id }}" class="btn btn-info">Results</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if tasks|length == 0 %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text text-center">No tasks found.</p>
                </div>
            </div>
        </div>
    {% endif %}
</div>